*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    height: 100vh;
    width: 100%;
}

/* First section */

.one
{
    height: 80%;
    background-color: #ff4c68;
}
header
{
display: flex;
height: 10%;
align-items: center;
justify-content: space-around;
}
header>span:nth-child(1)
{
    font-size:5vh;
    font-weight: 900;
    color: white;
}
header>span:nth-child(2)
{
    font-size: min(3vw,20px,4vw);
}
header>span>ul
{
    display: flex;
    width: 50%;
    gap: 10%;
    color: rgba(255,255,255,.5);
list-style: none;
}
header span ul li:hover
{
color: white;
cursor: pointer;
transition: 0.5s ease-in-out;
}
.sec1-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.sec1-txt
{
    height: 100%;
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
}
.txt-one
{
    font-weight: 900;
    font-size: max(4vw,15px,3vw);
    color: white;
}
.store
{
    display: flex;
    width: 100%;
    margin-top: 5%;
    align-items: center;
    text-align: center;
    gap: 5%;
    font-weight: 600;
    font-size: 1em;

    
}
.playstore
{
    display: flex;
    align-items: center;
    border: 1px solid gray;
    padding: 10px;
    color: white;
    border-radius:5px;
}
.apple
{
    display: flex;
    align-items: center;
    border: 1px solid gray;
    background-color: #23272b;
    border-radius:5px;
    padding:10px;
    color: white;
}
.sec1-img
{
    height: 100%;
    width: 30%;
    position: relative;
}
.sec1-img>img
{
    height: 100%;
    position: absolute;
    top: 20%;
    
    transform: scale(1.2);
    transform: rotate(20deg);
}

/* Second section */
.two
{
    height: 70%;
    position: relative;
    z-index:1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.two-inner
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.easy, .AI, .work
{
    line-height: 5ch;
}
.tick-icon, .target-icon ,.heart-icon
{
    color: #ef8172;
}

.tick-icon:hover, .target-icon:hover ,.heart-icon:hover
{
    color: #ff4c68;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.tick-bold, .target-bold ,.heart-bold
{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 3vh;
}
.tick-normal, .target-normal ,.heart-normal
{
    color: #a2a2a2;
    font-weight: 100;
    font-size: medium;
}



